<footer class="footer">
  <div class="outer">
    <ul>
      <li>
        Copyrights &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <i class="ri-heart-fill heart_icon"></i> <%= config.author || config.title %>
      </li>
    </ul>
    
    <!-- 网站运行时间统计 -->
    <ul>
      <li>
        <span id="sitetime"></span>
        <script>
          function siteTime() {
            window.setTimeout("siteTime()", 1000);
            var today = new Date();
            var t1 = Date.UTC(2025, 8, 20, 15, 12, 00); // 网站创建时间
            var t2 = Date.UTC(today.getFullYear(), today.getMonth()+1, today.getDate(), today.getHours(), today.getMinutes(), today.getSeconds());
            var diff = t2 - t1;
            var days = Math.floor(diff / (1000 * 60 * 60 * 24));
            var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((diff % (1000 * 60)) / 1000);
            
            document.getElementById("sitetime").innerHTML = "本站已运行 " + days + " 天 " + hours + " 小时 " + minutes + " 分 " + seconds + " 秒";
          }
          siteTime();
        </script>
      </li>
    </ul>
    
    <!-- 访问统计 -->
    <ul>
      <li>
        <span class="footer-stat">
          <i class="ri-user-line"></i> 访客数: <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
          <span class="division">|</span>
          <i class="ri-eye-line"></i> 访问量: <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
        </span>
      </li>
    </ul>
    
    <ul>
      <li>
        <% if (theme.pageFooter){ %>
          <% var hexoLink = '<a href="https://hexo.io" target="_blank">Hexo</a>'; %>
          <% var themeLink = '<a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank">Ayer</a>'; %>
          <%- __('powered_by', hexoLink) %> | <%- __('theme', themeLink) %>
        <% } %>
      </li>
    </ul>
    
    <% if (theme.icp&&theme.icp.enable){ %>
      <ul>
        <li>
          <a href="<%= theme.icp.url %>" target="_black" rel="nofollow"><%= theme.icp.text %></a>
        </li>
      </ul>
    <% } %>
    
    <% if (theme.gongan&&theme.gongan.enable){ %>
      <ul>
        <li>
          <img src="<%= theme.gongan.img %>"></img>
          <a href="<%= theme.gongan.url %>" target="_black" rel="nofollow"><%= theme.gongan.text %></a>
        </li>
      </ul>
    <% } %>
  </div>
</footer>

<% if (theme.cnzz&&theme.cnzz.enable){ %>
  <script type="text/javascript" src='<%= theme.cnzz.url%>'></script>
<% } %>